@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** Variables de fuente **/
$font-family: 'Poppins',sans-serif;
$font-size: 1em;

/** Varables de color **/
$negro: #272b31;
$blanco: #ffffff;
$rojo: #e7514f;
$azul: #5f9eb5;
$amarillo: #fd893b;

/** Estilos Generales **/
* {
    z-index: 1;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 200;
    color: $blanco;
}

hr {
    background-color: $negro;
    opacity: 1;
    height: 2px !important;
}

.black {
    color: $negro;
    font-weight: 700
}

.hide {
    opacity: 0;
}

.cursor {
    cursor: pointer;
}

.img-fluid {
    min-width: 100%;
}

.text-color-red {
    color: $rojo;
}

.text-color-blue {
    color: $azul;
}

.text-color-orange {
    color: $amarillo;
}

/** Estilos Banner **/
.banner-text {
    position: relative;
    height: 200px;

    img {
        height: 100%;
    }

    p {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1em;
        text-transform: uppercase;
        font-weight: 700;
        font-size: calc(2em + 1vw);
    }
}

/** Estilos particulas **/
#particles-js {
    position: relative;

    img,
    svg {
        width: 99%;
        position: relative;
        z-index: 1000;
    }
}

canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

/** Estilos Contenedor **/
.content-bck {
    background-image: url('../img/fondo.png');
    background-repeat: repeat;
    background-size: cover;
    background-color: #1b1c1d;
    animation: bck-animated 100s linear infinite;
}

@keyframes bck-animated {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 2219px;
    }
}

/** Estilos contenedor general **/
#txtGeneral {
    h3 {
        span {
            color: $amarillo;
        }
    }

    p {
        span {
            color: $amarillo;
            font-weight: 700;
        }
    }
}

/** Estilos contenedor de imagenes **/
.imagenes {
    background-color: $blanco;
    border-radius: 30px;
}

.respuesta ~ input {
    position: absolute;
}

p.cita {
    margin: 0;
    margin-top: 20px;
    font-size: $font-size - 0.3;
    font-weight: 500;
}

.badge {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 8px 15px 5px 40px;
    border-radius: 12px;
    margin-left: -30px;
    margin-top: -3px;
    font-size: $font-size;
    font-weight: 300;

    &.text-color-red {
        background-color: $rojo;
        color: $blanco;
    }
    
    &.text-color-blue {
    background-color: $azul;
        color: $blanco;
    }
    
    &.text-color-orange {
    background-color: $amarillo;
        color: $blanco;
    }
}


@media (max-width: 566px) {
    .banner-text {
        height: auto;
        p {
            font-size: calc(1.5em + 1vw);
        }
    }
}